* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.start{
    height: 100vh;
    width: 100%;
    background-image: url(../Tugas3Platform/Foto/dpEdit.jpg);
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logoPortofolio{
    color: palevioletred;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.jdl{
    color: white;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: palevioletred;
    transition: .4s;
}

.btn{
    background-color: palevioletred;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s;
    
}

.btn:hover{
    transform: scale(1.2);
}

.konten{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 35px;
}

h4{
    color: white;
    margin: 20px 0px 20px;
    font-size: 20px;
}

.nama{
    color: palevioletred;
}