* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.start {
    height: 100vh;
    width: 100%;
}

.parallax {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

.depan {
    background-image: url(dpEdit.jpg);
}

.tengah{
    width: 100%;
    padding: 100px 0px;
    background-color: #030202;
    
}

.riwayatPendidikan{
    width: 100%;
    padding: 100px 0px;
    background-color: #030201;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logoPortofolio {
    color: palevioletred;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.jdl {
    color: white;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: palevioletred;
    transition: .4s;
}

.btn {
    background-color: palevioletred;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s;

}

.btn:hover {
    transform: scale(1.2);
}

.konten {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 35px;
}

h4 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 20px;
}

.nama {
    color: palevioletred;
}

.isiTengah{
    width: 600px;
    
}

.mainTengah{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mainTengah h2{
    color: palevioletred;
    letter-spacing: 2px;
    font-size: 35px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.mainTengah p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}
.judulRiwayat h3{
    color: white;
    font-size: 70px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.isiRiwayat{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.sekolah{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.sekolah i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: palevioletred;
}
.sekolah p{
    color: palevioletred;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}